:root{
    --fondo: rgb(212, 100, 168);
    --fondo2: rgb(0, 0, 0);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: "Mulish", sans-serif;
    background-image: url(img/fondo.png);
    background-color: rgb(247, 164, 236);
}
.contenedor {
    width: 90%;
    margin: auto;
   
}

.contenedor h4{
    color: rgb(250, 9, 190);
    font-size: 20px;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 17px;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 40px;
   
}

/*--- Contenedor Titulo y controles ---*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color: black;
    font-size: 30px;

}

.contenedor-titulo-controles .indicadores button {
  background-color: white;  
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;

}                                                

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background-color: deeppink;

}

/*--- Contenedor prisnsipal y flechas ---*/
.animes-recomendados{
    margin-bottom: 70px;
}

.animes-recomendados .contenedor-prinscipal{
    display: flex;
    align-items: center;
    position: relative;
} 

.animes-recomendados .contenedor-prinscipal .flecha-izquierda,
.animes-recomendados .contenedor-prinscipal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40PX;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;

}

.animes-recomendados .contenedor-prinscipal .flecha-izquierda:hover,
.animes-recomendados .contenedor-prinscipal .flecha-derecha:hover{
    background: rgba(0, 0, 0, .9);
}

.animes-recomendados .contenedor-prinscipal .flecha-izquierda{
    left: 0;
}

.animes-recomendados .contenedor-prinscipal .flecha-derecha{
    right: 0;
}

/*--- Carrusel ---*/

.animes-recomendados .contenedor-carrusel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.animes-recomendados .contenedor-carrusel .carrusel{
    display: flex;
    flex-wrap: nowrap;
}

.animes-recomendados .contenedor-carrusel .carrusel .animes {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.animes-recomendados .contenedor-carrusel .carrusel .animes.hover{
    transform: scale(1.2);
    transform-origin: center;
}
.animes-recomendados .contenedor-carrusel .carrusel .animes img {
    width: 100%;
    vertical-align: top;
}

/*--- Media Queries ---*/
@media screen and (max-width: 800px) {
    
    .animes-recomendados .contenedor-carrusel{
        overflow: visible;
    }
    .animes-recomendados .contenedor-carrusel .carrusel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .animes-recomendados .indicadores,
    .animes-recomendados .flecha-izquierda,
    .animes-recomendados .flecha-derecha{
        display: none;
    }
}

/*---Titulo Animes agregados--- */
.contenedor-titulo{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo h3{
    color: black;
    font-size: 30px;

}
/*---contenedor prinsiplas2---*/ 
.animes-agregados .contenedor-prinscipal2 {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.animes-agregados .contenedor-prinscipal2{
    overflow: visible;
}

.animes-agregados .contenedor-prinscipal2 .contenedor-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.animes-agregados .contenedor-prinscipal2 .contenedor-lista .lista {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.animes-agregados .contenedor-prinscipal2 .contenedor-lista .lista.hover{
    transform: scale(1.2);
    transform-origin: center;
}
.animes-agregados .contenedor-prinscipal2 .contenedor-lista .lista img {
    width: 100%;
    vertical-align: top;
}